<!DOCTYPE html>
<head>
  <link rel="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.3/css/bulma.css" type="text/css">
  </head>
    <body>
    <div class="app">
      <h1 class="title"> Happy Adventure Friends</h1>
      <a class="nav" href="/">Home</a>
      {{{body}}}
    </div>
  </body>
  {{> footer}}
</html>
