<!DOCTYPE html>

<head>
  <link rel="public/main.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
</head>

<body>
  <div class="container">
    <h1 class="title"> Happy Adventure Friends</h1>
    <div class="row">
      <a class="nav" href="/">Home</a> {{{body}}}
    </div>
  </div>
</body>
{{> footer}}

</html>