<div class="col s6 offset-s3">
    <h1 class="title"> Happy Adventure Friends</h1>
</div>
<div class="col s6 offset-s3">
    <div class="end-result">
        <img class="" src="{{ending}}"> </img>
        <p>
            {{endingtext}}
        </p>
    </div>
</div>