<!DOCTYPE html>

<head>
    <link rel="public/main.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
</head>

<body>
    <div class="container">
        <div class = "row">
            <div class="col s6 offset-s3">
             <h1 class="title"> Happy Adventure Friends</h1>
            </div>
            <div class = "col s6 offset-s3">
                <div class="end-result">
                  <img class = "" src="{{ending}}"> </img>
                  <p>
                  {{endingtext}}
                  </p>
                </div>
            </div>
        </div>
        {{!--{{{body}}}--}}
      {{> footer}}
    </div>
    
</body>

</html>