
    <div class="synopsis">
      <p>
        There once was a group of friends that lived in a tree. One St Paddy's day they had a big party... it got a little out of
        hand. In the morning the Happy Adventure Friends woke up, whilst trying to break out of their stupour, they came
        to find that their friend Mimo the Monkey is missing!! :( Feeling quite under the weather they all tried to decide
        who was fit enough to go out for a search and rescue mission.
        <br><br> Your mission is to find Mimo....and bring him home safely!!
      </p>
      <a href="url/1">
      <button id="start">Start Game</button>
      </a>

    </div>
{{> svg}}
