
    <div class="page">
      <h1 class="title">Happy Adventure Friends</h1>
      <div class = "synopsis">
      </div>
      <buton id = "char-btn" href = "#">Character Button</button>      
    </div>
